<h1><%= @category.name %></h1>
<% if @category.listings.any? %>
  <ul>
    <% @category.listings.each do |listing| %>
      <li>
        <%= listing.name %> |
        <%= listing.address %> |
        <%= listing.phone %> |
        <%= listing.website %> |
        <%= listing.hours %> |
        <%= link_to "Edit", edit_category_listing_path(@category, listing) %> |
        <%= link_to "Delete", category_listing_path(@category, listing),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no listings yet!
  </p>
<% end %>
<p>
  <%= link_to "Add a listing", new_category_listing_path(@category) %>
</p>
<p>
  <%= link_to "Return to home", categories_path %>
</p>
<p>
  <%= link_to "Edit", edit_category_path(@category) %>
</p>
<p>
  <%= link_to "Delete", category_path(@category), data: {confirm: "You Sure?", method: "delete"}%>
</p>
